@font-face{
    font-family:Raleway;
    src:url(../CSS/Raleway-Light.ttf);
}
*
{
    margin: 0;
    padding: 0;
    font-family:Raleway;
}
body
{
    display: flex;
}

.body
{   
    align-items:center;
    background:#8fc1e3;
    height:1020px;
    width: 100%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding-top:100px;
    padding-bottom: 50px;
}
img{
height:25px;
width:25px;
}
   .bad{
         position:relative;
         margin: 101px 0px;
         
        }
       
        .bad .container1{
            position:relative;
            min-width:1100px;
            min-height:550px;
            display:flex;
            z-index:1000;
        }
        .bad .container1 .contactinfo3{
            position: absolute;
            top:40px;
            width:250px;
            height: calc(100% - 180px);
            background: #0f3959;
            z-index:1;
            padding:40px;
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
        }

        .bad .container1 .contactform3{
            position:absolute;
            padding: 70px 50px;
            background:#fff;
            margin-left:150px;
            padding-left:250px;
            width:555px;
            height:400px;
            box-shadow:0 50px 50px rgba(0,0,0,0.5);
        }
       .bad .container1 .contactform3 h2{
            color:#0f3959;
            font-size:24px;
            font-weight:500;
            
        }
.bad .container1 .contactinfo3 h2{
color:white;
}
        .bad .container1 .contactform3 .formbox{
            position:relative;
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top:30px;
        }
        .bad .container1 .contactform3 .formbox .inputbox{
            position:relative;
            margin:0 0 35px 0;
        }
        .bad .container1 .contactform3 .formbox .inputbox.w50{
            
            width:47%;
        }
        .bad .container1 .contactform3 .formbox .inputbox.w100{
            width:100%;
        }
        .bad .container1 .contactform3 .formbox .inputbox input,
        .bad .container1 .contactform3 .formbox .inputbox textarea{
            width:100% !important;
            padding:5px 0;
            resize:none;
            font-size:18px;
            font-weight:300;
            color:#333;
            border:none;
            border-bottom: 1px solid #777;
            outline:none;
        }
         .bad .container1 .contactform3 .formbox .inputbox textarea{
             min-height:120px;
             
         }
          .bad .container1 .contactform3 .formbox .inputbox span{
              position: absolute;
             Left:0;
            padding: 5px 0;
            font-size:18px;
            font-weight:300;
            color:#6b778d;
            transition: 0.3s;
            pointer-events: none;
           
          }
      .bad .container1 .contactform3 .formbox .inputbox input:focus ~ span,
        .bad .container1 .contactform3 .formbox .inputbox textarea:focus ~ span,
      .bad .container .contactform3 .formbox .inputbox input:valid ~ span,
        .bad .container1 .contactform3 .formbox .inputbox textarea:valid ~ span
       {
            transform:translateY(-20px);
            font-size:12px;
            font-weight:400;
            Letter-spacing: 1px;
            color:#8fc1e3;
            
            
        }
      
        .bad .container1 .contactform3 .formbox .inputbox input[type="submit"]{
            position:relative;
            cursor:pointer;
            background:#0f3959;
            color:#fff;
            border:none;
            max-width: 150px;
            padding:12px;
            
        }
        .bad .container1 .contactform3 .formbox .inputbox input[type="submit"]:hover{
            background:#8fc1e3;
            
            
        }
      
    .con{
       
        height:60px;
        width:330px;
        position:absolute;
        margin:auto;
        left:0;
        right:0;
        top:0;
        bottom:0;
    }
    .fa-star{
        font-size:50px;
    }
   
   
   .wrapper{
  margin-top: 50px;
}
.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}
.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;

}
.team .team_meat{
  background: rgb(255,255,255);
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}
.team .team_meat h3{
  color: #8fc1e3;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_meat .team_img{
  position: absolute;
  top: -50px;
  left: 80%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}
.team .team_meat .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
}
     #check3:checked ~ .body .bad .container1 .contactform3{
         background:#2d2d2d;
         color:white;
     }
     #check3:checked ~  .body .bad .container1 .contactinfo3{
         background:#a39e9e;
     } 

     #check3:checked ~ .body .bad .container1 .contactform3 h2{
         color:white;
     }
     
        #check3:checked ~  .body{
background: #1e1e1e;
       }
.bad .container1 .contentinfo3 h2{
color:white;}
#check3:checked ~ .body .wrapper .team .team_meat{
background:#a39e9e;
}
#check3:checked ~ .body .wrapper .team .team_meat .team_img{
background:#a39e9e;
}
#check3:checked ~ .body .wrapper .team .team_meat p{
color:white;
}
